body{
    transition: background 0.3s ease, color 0.3s ease;
}

/* MODO OSCURO GENERAL */
.modo-oscuro{
    background-color:#121212;
    color:white;
}

/* tarjetas */
.modo-oscuro .card{
    background-color:#1e1e1e;
    color:white;
}

/* textos secundarios de bootstrap */
.modo-oscuro .text-secondary{
    color:#b0b0b0;
}

/* inputs */
.modo-oscuro .form-control{
    background-color:#2a2a2a;
    color:white;
    border-color:#444;
}

.modo-oscuro .form-control::placeholder{
    color:#aaa;
}

/* list group (integrantes) */
.modo-oscuro .list-group-item{
    background-color:#1e1e1e;
    color:white;
    border-color:#333;
}

/* dropdown exclusiones */
.modo-oscuro .dropdown-menu{
    background-color:#1e1e1e;
    color:white;
}

.modo-oscuro .dropdown-item{
    color:white;
}

.modo-oscuro .dropdown-item:hover{
    background-color:#333;
}

/* checkbox */
.modo-oscuro .form-check-label{
    color:white;
}

/* navbar */
.navbar-cyan{
    background-color:#00bcd4;
}

#Card_Organizador{
    display:none;
}